<style>
  .projectNotes span { display: inline-block; }

  .done td { color: #ffffff; background-color: rgb(0, 186, 0); }
  .queued td { color: #808080; background-color: rgb(255, 198, 0); }
  .waiting td { color: #808080; background-color: rgb(252, 107, 0); }
</style>

<table>
  <% @projects.each do |project| %>
    <tr class="<%= project_status(project) %>">
      <td class="projectName"><%= project.fetch("name") %></td>
      <td class="projectNotes"><%= project.fetch("notes") %></td>
      <td class="projectMembers">
        <% project.fetch("members").each do |member| %>
          <span><%= project_member(member) %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
