<style>
  .done { color: #ffffff; background-color: rgb(0, 186, 0); }
  .queued { color: #808080; background-color: rgb(255, 198, 0); }
  .waiting { color: #808080; background-color: rgb(252, 107, 0); }

  .projectPersons .icon { min-width: 30px; height: 30px; vertical-align: middle; text-align: center; font-size: 20px; line-height: 30px; background-color: rgb(252, 88, 181); color: #808080; display: inline-block; border: 2px solid #808080; }
</style>

<table>
  <% @projects.each do |project| %>
    <tr class="<%= project_status(project) %>">
      <td class="projectName"><%= project.fetch("name") %></td>
      <td class="projectNotes"><%= project.fetch("notes") %></td>
      <td class="projectPersons">
        <% project.fetch("members").each do |member| %>
          <%= project_member_icon(member, @members) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
